<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <!-- FLASH START -->
    <div class="row">
      <div class="col">
        <%= flash_messages %>
      </div>
    </div>
    <!-- FLASH END -->

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
