<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main>
      <!-- FLASH START -->
      <div class="container mb-3">
        <div class="row">
          <div class="col">
            <%= flash_messages %>
          </div>
        </div>
      </div>
      <!-- FLASH END -->

      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
