<!DOCTYPE html>
<html data-navigation-type="default" data-navbar-horizontal-shape="default" lang="en-US" dir="ltr">

  <head>
    <%= render 'layouts/head' %>
    <%= javascript_include_tag 'toggle-password', 'data-turbolinks-track': 'reload' %>

    <script src="https://accounts.google.com/gsi/client" async defer></script>

    <script>
      function handleCredentialResponse(response) {
        // Simple POST request with a JSON body using fetch
        const request = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ credential: response.credential })
        };
        fetch('/auth/gsi/callback', request)
        .then(async response => {
            const isJson = response.headers.get('content-type')?.includes('application/json');
            const data = isJson && await response.json();

            // check for error response
            if (!response.ok) {
                console.log("IM IN HERE");
                // get error message from body or default to response status
                const error = (data && data.message) || response.status;
                return Promise.reject(error);
            }

            //redirect
            location.href ='/auth/gsi/session/'+ data.token;
        })
        .catch(error => {
            element = document.getElementById("gsi_error"),
            element.innerHTML = `Error: ${error}`;
        });

      }
      window.onload = function () {
        google.accounts.id.initialize({
          client_id: "<%= Figaro.env.google_client_id %>",
          callback: handleCredentialResponse
        });
        google.accounts.id.renderButton(
          document.getElementById("gis_button"),
          { theme: "outline", size: "large" }  // customization attributes
        );
        //google.accounts.id.prompt(); // also display the One Tap dialog
      }
    </script>
  </head>

  <body>
    <main>
      <div class="px-3 container-fluid">
        <div class="min-vh-100 row">
          <div class="d-flex align-items-center col-xl-5 col-lg-6 col-md-8">
            <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
              <div class="mb-4">
                  <!-- FLASH START -->
                  <div class="row mb-5">
                    <div class="col">
                      <%= flash_messages %>
                    </div>
                  </div>
                  <!-- FLASH END -->
                  <a href="/"><img class="mb-0" height="70px" src="/assets/branding/demo_icon.png"></a>
              </div>
              <%= yield %>
            </div>
          </div>
          <div class="d-none d-md-block col-xl-7 col-lg-6 col-md-4">
            <div class="bg-cover h-100 me-n3 position-relative">
              <span style="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;">
                  <img class="bg-image" src="/assets/customer/map_auth_bg-1a3d4ce860a470b6861ca017abb2a2b49d6640d8857aa72fd0f679ad5cd81e15.jpg">
              </span>
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
